@use 'colors';
@use 'mixins';

.heading-wrapper {
    background: rgb(153,153,153);
    background: linear-gradient(8deg, rgba(153,153,153,1) 0%, rgba(61,76,65,1) 75%);
    padding: 4rem 2rem;
    text-align: center;
}

.about-me-section {
    .container {
        max-width: 1200px;
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        padding: 2rem 1rem 0 1rem;
        img {
            justify-self: center;
            border-radius: 50%;
            width: 300px;
            grid-column: span 2;
        }
        p {
            font-size: 1rem;
            margin-bottom: 1rem;
        }
        div:first-of-type {
            grid-column: 1 / -1;
        }
        .skills-list,
        .interests-list {
            text-align: center;
            max-width: 380px;
            justify-self: center;
            align-self: flex-end;
            grid-column: span 2;
            ul {
                display: flex;
                flex-flow: wrap;
                padding: 0 2rem;
            }
            h3 {
                line-height: 3.75rem;
                margin-bottom: .75rem;
                max-width: 25rem;
                span {
                    display: block;
                }
            }
            li {
                width: 50%;
            }
        }
    }
}

.band-section {
    background-image: url("../img/band-picture.jpg");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 4rem;
    h2 {
        text-align: center;
        padding: 4rem;
        span {
            display: block;
        }
    }
    ul {
        display: flex;
        justify-content: center;
    }
    li {
        padding: 0 1rem 4rem 1rem;
    }
    svg {
        width: 2rem;
        fill: #fff;
    }
}

.my-dog-section {
    .container {
        padding: 2rem 1rem;
        max-width: 1000px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(276px, 1fr));
        gap: 1rem;
    }
    h2 {
        text-align: center;
        font-size: 3rem;
        grid-column: 1 / -1;
    }
    img {
        justify-self: center;
        width: 300px;
        border-radius: 2%;
    }
    p {
        text-align: center;
        font-size: 2rem;
        align-self: center;
    }
    p:first-of-type {
        grid-row: 2 / 3;
    }
    p:last-of-type {
        grid-row: 6 / 7;
    }
    @include mixins.break(sm){
        p:first-of-type {
            grid-row: unset;
        }
        p:last-of-type {
            grid-row: unset;
        }
    }
    @include mixins.break(md){
        .container {
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        }
        img {
            width: 380px;
        }
    }
}

@include mixins.break(sm) {
    .about-me-section {
        .container {
            padding: 2rem 2rem 0 2rem;
            .skills-list,
            .interests-list {
                grid-column: 1 / 2;
                ul {
                    padding-left: 0;
                    padding-right: 0;
                    max-width: 250px;
                }
            }
            .interests-list {
                grid-column: 2 / 3;
            }
        }
    }
}

@include mixins.break(md) {
    .about-me-section {
        .container {
            grid-template-columns: 336px 1fr;
            grid-template-rows: 300px 200px 230px 1%;
            img {
                grid-column: 1 / 2;
            }
            div:first-of-type {
                grid-column: 2 / 3;
                grid-row: 1 / -1;
            }
            .skills-list {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
                align-self: flex-start
            }
            .interests-list {
                grid-column: 1 / 2;
                grid-row: 3 / 4;
                align-self: flex-start
            }
        } 
    }
}