@use 'variables';
@use 'mixins';

body {
    font-family: variables.$base-font-family;
    background: variables.$logo-offwhite;
}

.container {
    margin: auto;
    max-width: 1480px;
}

.logo {
    width: 100px;
}

.body-height-max {
    height: 100vh;
}

.display-none {
    display: none;
    height: 0;
}

.grid-template {
    grid-template-rows: 82.23px calc(100vh - 246.23px) 100px;
}

.socials {
    display: none;
    justify-content: center;
    align-items: flex-end;
    svg {   
        width: 1.75rem;
        color: variables.$offblack;
        @include mixins.break(sm){
            width: 2rem;
        }
    }
    li {
        padding: 1rem;
        transition: transform 0.7s ease;
    }
    li:hover {
        transform: translate(-1px, -2px);
    }
    li:hover svg {
        fill: variables.$shamrock-green;
    }
}

.button {
    background: variables.$button-offwhite;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    padding: .5rem 1rem;
    border-radius: 8px;
    border: 1px solid variables.$button-gray;
    display: flex;
    align-items: center;
    width: fit-content;
    transition: all 0.3s ease-in-out;
    svg {
        color: variables.$offblack;
        transition: all 0.3s ease-in-out;
    }
}

.button:hover {
    border: 1px solid variables.$logo-green;
    color: variables.$logo-offwhite;
    background: variables.$logo-green;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    svg {
        fill: variables.$logo-offwhite;
    }
}

.heading-wrapper {
    background-color: variables.$logo-green;
    padding: 6rem 1rem;
    h2 {
        color: variables.$offwhite;
        text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
    }
}
