@use 'colors';
@use 'mixins';


body {
    font-family: 'Kreon', serif;
}

.container {
    margin: auto;
    max-width: 1600px;
}

.heading-span {
    font-size: 3rem;
    display: block;
}

.cta {
    text-align: center;
    padding: 4rem;
}
