@use 'colors';
@use 'mixins';


body {
    font-family: 'Kreon', Arial, serif;
}

.container {
    margin: auto;
    max-width: 1480px;
}

.heading-span {
    font-size: 3rem;
    display: block;
}

.cta {
    text-align: center;
    padding: 4rem;
}

.body-height-max {
    height: 100vh;
}

.display-none {
    display: none;
    height: 0;
}

.grid-template {
    grid-template-rows: 82.23px calc(100vh - 246.23px) 100px;
}