// hunter green
$logo-green: #3d4c41;
$logo-grey: #999999;
$logo-offwhite: #e6e6e6;

// $emerald-green: #446d27;
$emerald-green: #3f7c11;
$shamrock-green: #1d4e08;
$offwhite: #c2c0c0;
$med-gray: #bebebe;

$offblack: #050905;
// $offblack: #010501;