@use 'colors';
@use 'mixins';


.form-section {
    background: colors.$logo-offwhite;
    .heading-wrapper {
        padding: 4rem 1rem;
    }
    form {
        padding: 2rem 1rem 4rem 1rem;
        font-size: 1.25rem;
        display: grid;
        grid-template-columns: 1fr minmax(auto, 700px) 1fr;
        grid-template-rows: 100px 100px 370px 3.25rem;
        grid-template-areas: 
        ". n ."
        ". e ."
        ". m ."
        ". b .";
        div {
            label{
                display: block;
                width: 100%;
                font-size: 1.5rem;
                padding-bottom: .625rem;
                color: colors.$offblack;
            }
            input {
                display: block;
                width: 100%;
                line-height: 2.375rem;
                padding: 0 .75rem;
                border: 1px solid colors.$offblack;
                border-radius: 5px;
            }
            textarea {
                resize: none;
                width: 100%;
                height: 300px;
                padding: .5rem .75rem;
                border: 1px solid black;
                border-radius: 5px;
            }
        }
        div:nth-of-type(1) {
            grid-area: n;
        }
        div:nth-of-type(2) {
            grid-area: e;
        }
        div:nth-of-type(3) {
            grid-area: m;
        }
        button {
            grid-area: b;
            display: block;
            width: unset;
            max-width: 17.5rem;
        }
    }   
    @include mixins.break(sm) {
        form {
            padding: 2rem 2rem 4rem 2rem;
        }
    }
}

.extra-contact {
    background: colors.$logo-offwhite;
    .heading-wrapper {
        padding: 4rem 1rem;
    }
    .contact-content {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        padding: 4rem 0;
        text-align: center;
        section:first-of-type {
            flex: 0 1 450px;
            margin-bottom: 2.5rem;
        }
        section:last-of-type {
            flex: 0 1 450px;
        }
        @include mixins.break(md) {
            padding: 6rem 0;
            section:first-of-type {
                margin-bottom: 0rem;
            }
        }
    }
}
