@use 'variables';
@use 'mixins';

input {
    border: 1px solid variables.$offblack;
    padding: .0625rem .75rem;
    transition: box-shadow 0.5s ease;
}

textarea {
    border: 1px solid variables.$offblack;
    padding: .5rem .75rem;
    transition: box-shadow 0.5s ease;
}

.valid {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.alert {
    border: 2px solid variables.$red;
    padding: 0 .6875rem;
}

.alert-textarea {
    border: 2px solid variables.$red;
    padding: .4375rem .6875rem;
}

.label-text {
    margin-right: .3125rem;
}

.contact-error-message {
    font-size: 65%;
}

.form-section {
    .heading-wrapper {
        padding: 4rem 1rem;
    }
    form {
        padding: 2rem 1rem 4rem 1rem;
        font-size: 1.25rem;
        display: flex;
        flex-flow: wrap;
        max-width: 764px;
        margin: 0 auto;
        div {
            flex: 0 1 764px;
            padding: .375rem 0 .375rem 0;
            label{
                display: block;
                width: 100%;
                font-size: 1.5rem;
                padding-bottom: .625rem;
                color: variables.$offblack;
            }
            input {
                display: block;
                width: 100%;
                line-height: 2.375rem;
                border-radius: 5px;
            }
            textarea {
                resize: none;
                width: 100%;
                height: 300px;
                border-radius: 5px;
            }
        }
        button {
            display: block;
            width: unset;
            flex: 0 1 17.5rem;
            color: variables.$offblack;
        }
    }   
    @include mixins.break(sm) {
        form {
            padding: 2rem 2rem 4rem 2rem;
        }
    }
}

.extra-contact {
    .heading-wrapper {
        padding: 4rem 1rem;
    }
    .contact-content {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        padding: 4rem 0;
        text-align: center;
        p {
            font-size: 1.25rem;
            margin: unset;
        }
        section:first-of-type {
            flex: 0 1 450px;
            margin-bottom: 2.5rem;
        }
        section:last-of-type {
            flex: 0 1 450px;
        }
        @include mixins.break(sm) {
            p {
                font-size: 1.5rem;
            }
        }
        @include mixins.break(md) {
            padding: 6rem 0;
            section:first-of-type {
                margin-bottom: 0rem;
            }
        }
    }
}

.hide-bot-field {
    opacity: 0;
    visibility: hidden;
    height: 0;
    width: 0;
}