@use 'colors';
@use 'mixins';

footer {
    background: rgb(230,230,230);
    background: linear-gradient(180deg, rgba(230,230,230,1) 0%, rgba(153,153,153,1) 88%);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-top: 1px solid colors.$logo-offwhite;
    padding: 4rem 1rem;
    .socials {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        li {
            padding: 1rem;
            transition: transform 0.7s ease;
            svg {
                width: 2rem;
                fill: colors.$offblack;
            }
        }
        li:hover {
            transform: translate(-1px, -2px);
        }
        li:hover svg {
            fill: colors.$shamrock-green;
        }
    }
    p {
        color: colors.$offblack;
    }
}

