@use 'variables';
@use 'mixins';

.good-food-content,
.opendesk-content, 
.grade-tracker-content {
    .container {
        padding: 2rem 1rem 5rem 1rem;
    }
    .grade-tracker-code,
    p {
        max-width: 1000px;
    }
    h3 {
        font-size: 2.25rem;
        padding: 3rem 0;
    } 
    @include mixins.break(sm){ 
        h3 {
            font-size: 2.5rem;
            padding: 4rem 0;
        }
        .container {
            padding: 2rem 2rem 5rem 2rem;
        }
    }
}

.good-food-content,
.opendesk-content {
    img {
        // width: 100%;
        // height: 100%;
        // // needs to be used with height 100%
        // object-fit: cover;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .img-grid {
        display: flex;
        flex-flow: wrap;
        gap: 1rem;
        div:nth-of-type(1) {
            flex: 1 1 50px;
            order: 1;
        }
        div:nth-of-type(2) {
            flex: 1 1 50px;
            order: 2;
        }
        div:nth-of-type(3) {
            width: 100%;
            order: 3;
        }
        div:nth-of-type(4) {
            width: 100%;
            order: 4;
        }
    }
    @include mixins.break(sm){
        .img-grid {
            div:nth-of-type(1) {
                flex: 1 1 calc(34.5% - 0.5rem);
            }
            div:nth-of-type(2) {
                flex: 1 1 calc(34.5% - 0.5rem);
                order: 4;
            }
            div:nth-of-type(3) {
                flex: 1 1 calc(65.5% - 0.5rem);
                order: 2;
            }
            div:nth-of-type(4) {
                flex: 1 1 calc(65.5% - 0.5rem);
                order: 3;
            }
        }
    }
    @include mixins.break(md){
        .img-grid {
            gap: 1.5rem;
            div:nth-of-type(1) {
                flex: 1 1 calc(34.5% - 0.75rem);
            }
            div:nth-of-type(2) {
                flex: 1 1 calc(34.5% - 0.75rem);
                order: 4;
            }
            div:nth-of-type(3) {
                flex: 1 1 calc(65.5% - 0.75rem);
                order: 2;
            }
            div:nth-of-type(4) {
                flex: 1 1 calc(65.5% - 0.75rem);
                order: 3;
            }
        }
    }
}

.good-food-content {
    .large-img-container {
        img:first-of-type {
            margin-bottom: 1rem;
        }
    }
    @include mixins.break(md){
        .large-img-container {
            img:first-of-type {
                margin-bottom: 1.5rem;
            }
        }
    }
}
