@use 'variables';
@use 'mixins';

.my-work .nav-ul .nav-item-one {
    > a {
        color: variables.$shamrock-green;
        text-decoration: underline;
    }
    svg {
        fill: variables.$shamrock-green;
    }
}

.about .nav-ul > li:nth-of-type(2) a,
.contact .nav-ul > li:last-child a,
.side-scroller .dropdown .nav-list-one li:nth-of-type(1) a, 
.good-food .dropdown .nav-list-one li:nth-of-type(2) a, 
.opendesk .dropdown .nav-list-one li:nth-of-type(3) a,
.grade-tracker .dropdown .nav-list-two li:nth-of-type(1) a {
    color: variables.$shamrock-green;
    text-decoration: underline;
}

.good-food .nav-ul .nav-item-one, 
.opendesk .nav-ul .nav-item-one,
.grade-tracker .nav-ul .nav-item-one,
.side-scroller .nav-ul .nav-item-one {
    > a {
        color: variables.$shamrock-green;
    }
    svg {
        fill: variables.$shamrock-green;
    }
}

input#navToggle {
    display: none;
}
  
input#navToggle ~ label {
    position: relative;
    display: block;
    padding: 0.25rem;
    width: 2rem;
    height: 1.25rem;
    height: 2rem;
}

input#navToggle ~ label > span,
input#navToggle ~ label > span::before,
input#navToggle ~ label > span::after {
    content: "";
    display: block;
    position: absolute;
    top: .75rem;
    height: 0.125rem;
    width: 1.75rem;
    opacity: 1;
    background: variables.$offblack;
    transition: 0.14s ease-in-out;
}

input#navToggle ~ label > span::before {
    top: -0.5rem;
}
  
input#navToggle ~ label > span::after {
    top: 0.5rem;
}
  
#navToggle:checked ~ label > span {
    width: 0;
    background: rgba(18, 18, 18, 0);
}
  
#navToggle:checked ~ label > span::before {
    transform: rotateZ(45deg);
    top: 0;
}
  
#navToggle:checked ~ label > span::after {
    transform: rotateZ(-45deg);
    top: 0;
}

label.navToggleLabel:hover {
    cursor: pointer;
}

header {
    position: sticky;
    top: 0;
    z-index: 5;
    background: rgb(32, 19, 19);
    background: linear-gradient(0deg, rgba(230,230,230,1) 0%, rgba(153,153,153,1) 88%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-bottom: 2px solid variables.$logo-offwhite;
    padding: 2rem 1rem;
    max-height: 148.23px;
    @include mixins.break(sm){
        padding: 2rem;
    }
    @include mixins.break(md){
        padding: 0 2rem 0 2rem;
    }
}

.header-container {
    .logo-toggle-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        max-width: 1480px;
    }
    .nav-ul {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: flex-start;
        font-size: 1.5rem;
    }
    .nav-item {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        a:hover {
            color: variables.$shamrock-green;
        }
    }
    .nav-item-one {
        position: relative;
        span {
            display: flex;
            justify-content: center;
            position: absolute;
            right: -5rem;
            width: 4rem;
            height: 4rem;
            z-index: 1;
        }
        svg {
            width: 1.5rem;
            fill: variables.$offblack;
        }
    }
    .nav-item-one:hover > a,
    .nav-item-one:hover svg {
        color: variables.$shamrock-green;
        fill: variables.$shamrock-green;
    }
    @include mixins.break(sm){
        .nav-item-one {
            span {
                right: -10rem;
            }
        }
    }
    @include mixins.break(md){ 
        position: relative;
        .logo-toggle-container  {
            justify-content: center;
            position: absolute;
            top: 2rem;
            right: 0;
            left: 0;
        }
        .header-nav {
            // needs to be here for selector weight
            height: fit-content;
            overflow: visible;
        }
        .nav-ul {
            flex-flow: row;
        }
        .nav-item {
            height: unset;
            z-index: 6;
        }
        .nav-item-one {
            padding: 3.445rem 2rem 3.445rem 0;
            svg {
                width: .875rem;
            }
            span {
                right: 0;
                width: 2rem;
            }
        }
        .nav-item-two {
            border-left: 1px solid variables.$offblack;
            border-right: 1px solid variables.$offblack;
            padding: 0 1rem 0 1rem;
        }
        input#navToggle ~ label {
            display: none;
        }
    }
}

.header-nav {
    background: rgb(230,230,230);
    background: linear-gradient(180deg, rgba(230,230,230,1) 0%, rgba(153,153,153,1) 88%);
    display: flex;
    flex-flow: column;
    transition: height 0.5s ease-in-out;
    // doesn't work with max-height
    height: 0;
    overflow: hidden;
    width: 100vw;
    position: relative;
    right: 1rem;
    top: 2rem;
    @include mixins.break(sm) {
        right: 2rem;
    }
    @include mixins.break(md) {
        background: unset;
        width: auto;
        position: unset;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
    }
}

.nav-item {
    transition: height 0.8s ease;
    height: 0;
}

.socials-item {
    transition: visibility 2s ease, opacity 2s ease, transform 0.7s ease;
    visibility: hidden;
    opacity: 0;
    padding: 1rem;
    z-index: 6;
    &:hover {
        transform: translate(-1px, -2px);
    }
    &:hover svg {
        fill: variables.$shamrock-green;
    }
    @include mixins.break(md){
        padding: .5rem;
        visibility: visible;
        opacity: 1;
    }
}

.socials-item:last-of-type {
    @include mixins.break(md) {
        padding: 0.5rem 0 0.5rem 0.5rem;
    }
}

.socials {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    svg {
        width: 1.75rem;
        @include mixins.break(md){
            width: 2rem;
        }
    }
}

.dropdown {
    z-index: 7;
    background: rgb(209,209,209);
    background: linear-gradient(180deg, rgba(209,209,209,1) 0%, rgba(153,153,153,1) 100%); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    position: absolute;
    height: 0;
    top: 18vh;
    width: 100vw;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease, height 0.8s ease;
    opacity: 0;
    overflow: scroll;
    padding-left: 1rem;
    li {
        max-width: 360px;
        a {
            display: block;
            font-size: 1.5rem;
            padding: 1rem 0;
        }
        a:hover {
            color: variables.$shamrock-green;
        }
    }
    @include mixins.break(sm) {
        padding-left: 0rem;
        .container {
            display: flex;
            gap: 2rem;
            justify-content: space-around;
        }
    }
    @include mixins.break(md){
        padding-left: 2rem;
        background: rgb(230,230,230);
        background: linear-gradient(180deg, rgba(230,230,230,1) 0%, rgba(153,153,153,1) 88%);
        height: fit-content;
        left: -2rem;
        top: 146px;
        overflow: unset;
        padding-bottom: 2rem;
        .container {
            justify-content: unset;
            position: relative;
            left: 0;
        }
    }
    @include mixins.break(xxlg){
        position: fixed;
        left: 0;
        padding-left: 0;
    }
}

.header-container {
    @include mixins.break(md){ 
        .nav-item-one:hover .dropdown {
            visibility: visible;
            opacity: 1;
        }
    }
}

.toggle-nav {
    height: calc(100vh - 146px);
    overflow: visible;
}

.toggle-dropdown {
    visibility: visible;
    opacity: 1;
}

.toggle-dropdown-height {
    height: calc(82vh - 148px);
}

.toggle-nav-height {
    height: calc(33vh - 4.375rem);
}

.dropdown {
    @include mixins.break(md){
        height: fit-content;
    }
}

ul.nav-ul li:focus-within ul,
ul.nav-ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
}