@use 'colors';
@use 'mixins';

header .container {
    display: grid;
    grid-template-columns: 0.75rem 1fr 100px 1fr 0.75rem;
    grid-template-areas: ". siteNav logo socials .";
    // max-width: 1600px;
    // margin: auto;
    padding: 2rem 0;
    align-items: center;
    nav {
        grid-area: siteNav;
        .main-nav {
            display: flex;
            flex-flow: wrap;
            justify-content: flex-start;
        }
    }
    a {
        svg {
            width: 100px;
        }
        grid-area: logo;
        justify-self: center;
    }
    ul {
        grid-area: socials;
        display: flex;
        flex-flow: wrap;
        justify-content: flex-end;
        svg {
            width: 1rem;
        }
    }
}

