@use 'colors';
@use 'mixins';

.my-work .main-nav li:first-child {
    a {
        color: colors.$shamrock-green;
        text-decoration: underline;
    }
    svg {
        fill: colors.$shamrock-green;
    }
}

.about .main-nav li:nth-of-type(2) a,
.contact .main-nav li:last-child a,
.opendesk .dropdown li:nth-of-type(2) a,
.good-food .dropdown li:first-child a, 
.grade-tracker .dropdown li:last-child a {
    color: colors.$shamrock-green;
    text-decoration: underline;
}

.good-food .main-nav li:first-child, 
.opendesk .main-nav li:first-child,
.grade-tracker .main-nav li:first-child {
    a {
        color: colors.$shamrock-green;
    }
    svg {
        fill: colors.$shamrock-green;
    }
}

input#navToggle {
    display: none;
}
  
input#navToggle ~ label {
    position: relative;
    display: block;
    padding: 0.25rem;
    width: 2rem;
    height: 1.25rem;
    height: 2rem;
}

input#navToggle ~ label > span,
input#navToggle ~ label > span::before,
input#navToggle ~ label > span::after {
    content: "";
    display: block;
    position: absolute;
    top: .75rem;
    height: 0.125rem;
    width: 1.75rem;
    opacity: 1;
    background: colors.$offblack;
    transition: 0.14s ease-in-out;
}

input#navToggle ~ label > span::before {
    top: -0.5rem;
}
  
input#navToggle ~ label > span::after {
    top: 0.5rem;
}
  
#navToggle:checked ~ label > span {
    width: 0;
    background: rgba(18, 18, 18, 0);
}
  
#navToggle:checked ~ label > span::before {
    transform: rotateZ(45deg);
    top: 0;
}
  
#navToggle:checked ~ label > span::after {
    transform: rotateZ(-45deg);
    top: 0;
}

.main-nav {
    display: none;
}

@include mixins.break(md) {
    .main-tag,
    .footer-tag,
    .header-tag {
        display: block;
        height: fit-content;
    }
}

header {
    position: sticky;
    z-index: 5;
    top: 0;
    padding: 2rem 1rem;
    background: rgb(32, 19, 19);
    background: linear-gradient(0deg, rgba(230,230,230,1) 0%, rgba(153,153,153,1) 88%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-bottom: 2px solid #e6e6e6;
    .header-container {
        display: grid;
        grid-template-areas:
        "logo toggle"
        "siteNav ."
        "socials .";
        grid-template-columns: repeat(2, 50%);
        nav {
            grid-area: siteNav;
            grid-column: span 2;
            .main-nav {
                flex-flow: column;
                justify-content: flex-start;
                font-size: 1.5rem;
                > li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: calc(33vh - 82px);
                    padding: 1rem;
                    width: 100%;
                    a {
                        width: 100%;
                        display: block;
                        height: fit-content;
                        text-decoration: none;
                        color: colors.$offblack;
                    }
                }
                > li:first-of-type {
                    position: relative;
                }
                > li:first-of-type span {
                    display: flex;
                    right: 0;
                    position: absolute;
                    width: 4rem;
                    height: 4rem;
                    z-index: 1;
                    @include mixins.break(sm){
                        right: 4rem;
                    }
                }
                > li:first-of-type a {
                    width: fit-content;
                }
                > li:first-of-type svg {
                    width: 1.5rem;
                    margin: auto;
                }
                > li a:hover {
                    color: colors.$shamrock-green;
                }
            }
        }
        .logo-anchor {
            grid-area: logo;
            justify-self: left;
            align-self: center;
        }
        .toggle {
            grid-area: toggle;
            justify-self: right;
            align-self: center;
        }
        .socials {
            grid-area: socials;
            grid-column: span 2;
        }
    }
    @include mixins.break(sm){
        padding: 2rem;
    }
    @include mixins.break(md){
        padding: 0 2rem 0 2rem;
        .header-container {
            grid-template-rows: unset;
            grid-template-columns: 1fr 100px 1fr;
            grid-template-areas: "siteNav logo socials";
            align-items: center;
            nav {
                grid-column: 1 / 2;
                .main-nav {
                    display: flex; // overrides display none
                    flex-flow: row;
                    align-items: center;
                    justify-content: flex-start;
                    > li {
                        height: fit-content;
                        width: unset;
                    }
                    > li:first-of-type span {
                        display: unset;
                        left: 8px;
                        top: -18px;
                        position: relative;
                        width: 0;
                        height: 0;
                    }
                    > li:first-of-type {
                        padding: 3.445rem 2rem 3.445rem 0;
                        svg {
                            width: .875rem;
                        }
                    }
                    > li:first-of-type a:hover svg {
                        fill: colors.$shamrock-green;
                    }
                    .middle-nav-item {
                        padding-top: 0;
                        padding-bottom: 0;
                        border-left: 1px solid colors.$offblack;
                        border-right: 1px solid colors.$offblack;
                    }
                }
            }
            a {
                justify-self: center;
            }
            .socials {
                grid-area: socials;
                display: flex; // overrides display none
                justify-content: flex-end;
                li {
                    padding: .5rem;
                }
            }
            input#navToggle ~ label {
                display: none;
            }
        }
        #firstNavItem {
            fill: colors.$offblack;
        }
    }
}

.dropdown {
    position: absolute;
    background: rgb(230,230,230);
    background: linear-gradient(0deg, rgba(230,230,230,1) 0%, rgba(173,173,173,1) 65%); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    width: calc(100vw + 2rem);
    height: fit-content;
    padding-bottom: 2rem;
    // transition: all 2s ease-in-out;
    display: none;
    top: 35vh;
    left: -2rem;
    height: calc(65vh);
    li {
        margin-left: 3rem;
        a {
            display: block;
            color: colors.$offblack;
            text-decoration: none;
            font-size: 1.5rem;
            padding: 1rem 0.875rem;
        }
        max-width: 360px;
    } 
    li:hover a {
        color: #1d4e08;
    }
    @include mixins.break(md){
        background: rgb(230,230,230);
        background: linear-gradient(180deg, rgba(230,230,230,1) 0%, rgba(153,153,153,1) 88%);
        top: unset;
        height: fit-content;
        padding-bottom: 2rem;
    }
    @include mixins.break(xxlg){
        li {
            margin-left: unset;
        }
    }
}

.show-nav {
    display: flex;
    text-align: center;
}

.display-block {
    display: block;
}