@use 'variables';
@use 'mixins';
    
.introduction {
    background-color: variables.$logo-green;
    padding: 4rem 0.75rem;
    .container {
        position: relative;
        .intro-content {
            padding-top: 14rem;
            z-index: 1;
            position: relative;
        }
        .intro-picture {
            position: absolute;
            top: -3rem;
            right: 0;
            left: 0;
            margin-left: auto;
            margin-right: auto;
            width: 260px;
            z-index: 0;
            img {
                box-shadow: 1px 1px 3px rgb(161, 161, 161), 2px 2px 6px rgb(28 121 138 / 50%);
                border: solid 1px rgba(107, 107, 107, 0.8);
                border-radius: 50%;
            }
        }
        @include mixins.break(sm){
            .intro-picture {
                width: 300px;
            }
            .intro-content {
                padding-top: 17rem;
            }
        }
        @include mixins.break(sm-md){
            .intro-picture {
                width: 260px;
                top: -2rem;
                right: 0;
                left: unset;
                margin-left: unset;
                margin-right: unset; 
            }
            .intro-content {
                padding-top: 0;
            }
        }
        @include mixins.break(md){
            .intro-picture {
                width: 326px;
            }
        }
        @include mixins.break(lg){
            .intro-picture {
                right: 4rem;
                top: 0;
            }
        }
    }
    h2 {
        text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
        color: variables.$offwhite;
        font-size: 1.25rem;
        line-height: 2rem;
        font-family: variables.$base-font-family;
        text-align: unset;
        z-index: 1;
    }
    span.tagline {
        display: block;
        text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
        color: variables.$emerald-green;
        font-size: 2rem;
        line-height: 3.25rem;
        padding: 1.25rem 0 1.875rem 0;
        max-width: 500px;
        font-family: variables.$base-font-family;
        text-align: unset;
        z-index: 1;
    }
    span.my-name {
        color: variables.$emerald-green;
        font-size: 2rem;
    }
    p {
        margin: unset;
        color: variables.$offwhite;
        font-size: 1.125rem;
        max-width: 760px;
        text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
        z-index: 1;
    }
    @include mixins.break(xs){
        h2 {
            font-size: 1.5rem;
            line-height: 2.25rem;
        }
        span.tagline {
            font-size: 2.25rem;
        }
    }
    @include mixins.break(sm){
        padding: 4rem 2rem;
        h2 {
            font-size: 2rem;
            max-width: 470px;
        }
        span.tagline {
            font-size: 3.5rem;
            line-height: 4.5rem;
            padding: 1.5rem 0 2.625rem 0;
        }
        span.my-name {
            font-size: 2.75rem;
        }
        p {
            font-size: 1.25rem;
        }
    }
    @include mixins.break(md){
        h2 {
            max-width: unset;
        }
        span.tagline {
            padding: 2.25rem 0 2.625rem 0;
        }
    }
    @include mixins.break(lg){
        span.tagline {
            max-width: unset;
        }
    }
}

.source-code-link {
    padding: 0 1rem;
    .wrapper {
        padding: 3rem 0 2rem 0;
    }
    a {
        display: flex;
        align-items: center;
        gap: .75rem;
        font-size: 1rem;
    }
    svg {
        width: 1rem;
    }
    @include mixins.break(sm){
        padding: 0 2rem;
        a {
            font-size: 1.5rem;
        }
        svg {
            width: 1.25rem;
        }
    }
}

.projects {
    padding: 0 1rem 4rem 1rem;
    h2 {
        padding: 3rem 0;
    }
    .container > a {
        display: flex;
        flex-flow: wrap;
        align-items: center;
        color: variables.$logo-offwhite;
        background: variables.$logo-green;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        border-radius: 6px;
        margin-bottom: 4rem;
        transition: transform 0.7s ease;
        &:hover {
            transform: translate(4px, 8px);
        }
        > a:last-of-type {
            margin-bottom: 0;
        }
        h3 {
            text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
            color: variables.$emerald-green;
            letter-spacing: .05rem;
            font-size: 2rem;
            line-height: 2.5rem;
            margin: 1rem 0 2rem 0;
            text-align: unset;
        }
        p {
            color: variables.$logo-offwhite;
            font-size: 1.25rem;
            margin-bottom: 2rem;
            text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
            svg {
                position: relative;
                top: 2px;
                margin-left: .625rem;
                width: 1.25rem;
                fill: variables.$emerald-green;
                transition: all 0.7s ease;
                filter: drop-shadow(3px 4px 1px rgb(0 0 0 / 0.6));
            }
        }
        p:last-of-type {
            font-weight: 700;
            transition: all 0.7s ease;
            color: variables.$emerald-green;
        }
        img {
            border-radius: 6px 6px 0 0;
            width: 100%;
        }
        div:first-of-type {
            flex: 1 1 518px;
        }
        div:last-of-type {
            padding: 1rem;
            flex: 1 1 318px;
        }
        @include mixins.break(sm) {
            div:last-of-type {
                padding: 1rem 2rem 1rem 2rem;
            }
        }
        @include mixins.break(md) {
            background: rgb(61,76,65);
            background: linear-gradient(153deg, rgba(61,76,65,1) 5%, rgba(71,85,75,1) 33%, rgba(159,159,159,1) 100%);
            img {
                border-radius: 0 6px 6px 0;
            }
        }
        @include mixins.break(lg){
            h3 {
                font-size: 2.5rem;
            }
            p {
                font-size: 1.75rem;
            }
        }
        @include mixins.break(xlg){
            div:last-of-type {
                padding: 1rem 4rem 1rem 4rem;
            }
        }
    } // end of .container > a
    .container > a:last-of-type {
        margin-bottom: 0;
    }
    .container > a:nth-of-type(even) {
        img {
            border-radius: 6px 6px 0 0;
        }
    }
    .container > a:hover {
        background: variables.$logo-green;
        p {
            font-style: italic;
        }
        p:last-of-type {
            color: variables.$emerald-green;
            svg {
                fill: variables.$emerald-green;
            }
        }
        svg {
            left: 5px;
        }
        
    }
    .container > a:nth-of-type(even):hover {
        background: variables.$logo-green;
    }
    @include mixins.break(sm){
        padding: 0 2rem 5rem 2rem;
        h2 {
            padding: 5rem 0;
        }
    }
    @include mixins.break(md) {
        .container > a:nth-of-type(odd) {
            div:first-of-type {
                order: 1;
            }
        }
        .container > a:nth-of-type(even) {
            background: rgb(61,76,65);
            background: linear-gradient(326deg, rgba(61,76,65,1) 5%, rgba(71,85,75,1) 42%, rgba(159,159,159,1) 100%); 
            img {
                border-radius: 6px 0 0 6px;
            }
        }
    }
}

