@use 'colors';
@use 'mixins';


    
.introduction {
    background: rgb(153,153,153);
    background: linear-gradient(8deg, rgba(153,153,153,1) 0%, rgba(61,76,65,1) 75%);
    padding: 4rem 0.75rem;
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 4rem;
        line-height: 3.75rem;
        padding: 2.25rem 0;
    }
    p {
        // font-size: 1.5rem;
    }
    @include mixins.break(sm){
        padding: 4rem 2rem;
    }
}

.projects {
    padding: 4rem 0.75rem;
    h2 { 
        // font-size: 4rem;
    }
    @include mixins.break(sm){
        padding: 4rem 2rem;
    }
}

