@use 'colors';
@use 'mixins';
    
.introduction {
    background-color: colors.$logo-green;
    padding: 4rem 0.75rem;
    h2 {
        text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
        color: colors.$offwhite;
        font-size: 1.5rem;
        line-height: 2.25rem;
        font-family: 'Kreon', Arial, serif;
        text-align: unset;
    }
    h3 {
        text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
        color: colors.$emerald-green;
        font-size: 2.5rem;
        line-height: 3.25rem;
        padding: 1.25rem 0 1.875rem 0;
        font-family: 'Kreon', Arial, serif;
        text-align: unset;
    }
    span {
        color: colors.$emerald-green;
        font-size: 2rem;
    }
    p {
        color: colors.$offwhite;
        font-size: 1.125rem;
        max-width: 760px;
        text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
    }
    @include mixins.break(sm){
        padding: 4rem 2rem;
        h2 {
            font-size: 2rem;

        }
        h3 {
            font-size: 3.5rem;
            line-height: 4.5rem;
            padding: 2.25rem 0 2.625rem 0;
        }
        span {
            font-size: 2.75rem;
        }
        p {
            font-size: 1.25rem;
        }
    }
}

.source-code-link {
    background-color: colors.$logo-offwhite;
    padding: 0 1rem;
    .wrapper {
        padding: 3rem 0 2rem 0;
    }
    a {
        display: flex;
        align-items: center;
        gap: .75rem;
        font-size: 1rem;
        text-decoration: none;
    }
    svg {
        width: 1rem;
    }
    @include mixins.break(sm){
        padding: 0 2rem;
        a {
            font-size: 1.5rem;
        }
        svg {
            width: 1.25rem;
        }
    }
}

.projects {
    padding: 0 1rem 4rem 1rem;
    background-color: colors.$logo-offwhite;
    h2 {
        padding: 3rem 0;
    }
    .container > a {
        display: flex;
        flex-flow: wrap;
        align-items: center;
        color: colors.$logo-offwhite;
        background: colors.$logo-green;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        text-decoration: none;
        border-radius: 6px;
        margin-bottom: 4rem;
        transition: transform 0.7s ease;
        &:hover {
            transform: translate(4px, 8px);
        }
        > a:last-of-type {
            margin-bottom: 0;
        }
        h3 {
            text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
            color: colors.$emerald-green;
            letter-spacing: .05rem;
            font-size: 2rem;
            line-height: 2.5rem;
            margin-bottom: .5rem;
            text-align: unset;
        }
        p {
            color: colors.$logo-offwhite;
            font-size: 1.25rem;
            margin-bottom: .5rem;
            text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
            svg {
                position: relative;
                top: 2px;
                margin-left: .625rem;
                width: 1.25rem;
                fill: colors.$logo-offwhite;
                filter: drop-shadow(3px 4px 1px rgb(0 0 0 / 0.6));
            }
        }
        p:last-of-type {
            font-weight: 700;
        }
        img {
            border-radius: 6px 6px 0 0;
            width: 100%;
        }
        div:first-of-type {
            flex: 1 1 518px;
        }
        div:last-of-type {
            padding: 1rem 1rem 1rem 2rem;
            flex: 1 1 318px;
        }
        @include mixins.break(md) {
            background: rgb(61,76,65);
            background: linear-gradient(153deg, rgba(61,76,65,1) 5%, rgba(71,85,75,1) 33%, rgba(159,159,159,1) 100%);
            img {
                border-radius: 0 6px 6px 0;
            }
        }
        @include mixins.break(lg){
            h3 {
                font-size: 2.5rem;
                margin-bottom: 1rem;
            }
            p {
                font-size: 1.75rem;
                margin-bottom: 1rem;
            }
        }
        @include mixins.break(xlg){
            div:last-of-type {
                padding: 1rem 1rem 1rem 4rem;
            }
        }
    } // end of .container > a
    .container > a:last-of-type {
        margin-bottom: 0;
    }
    .container > a:nth-of-type(even) {
        img {
            border-radius: 6px 6px 0 0;
        }
    }
    .container > a:hover {
        background: colors.$logo-green;
        p {
            font-style: italic;
        }
        svg {
            left: 5px;
        }
    }
    @include mixins.break(sm){
        padding: 0 2rem 5rem 2rem;
        h2 {
            padding: 5rem 0;
        }
    }
    @include mixins.break(md) {
        .container > a:nth-of-type(odd) {
            div:first-of-type {
                order: 1;
            }
        }
        .container > a:nth-of-type(even) {
            background: rgb(61,76,65);
            background: linear-gradient(326deg, rgba(61,76,65,1) 5%, rgba(71,85,75,1) 42%, rgba(159,159,159,1) 100%); 
            img {
                border-radius: 6px 0 0 6px;
            }
        }
    }
}

