@use 'variables';
@use 'mixins';

.opendesk-content {
    .heading-wrapper {
        padding: 5rem 1rem;
    }
    h2 {
        max-width: 600px;
        margin: 0 auto;
        line-height: 5.375rem;
    }
    p {
        margin: 0 auto 1rem auto;
    }
    p:first-of-type {
        font-size: .875rem;
        text-align: center;
        font-style: italic;
        max-width: 800px;
        margin-bottom: 1.5rem;
    }
    .lighthouse-heading {
        padding: 3rem 0 1rem 0;
        line-height: 2.875rem;
    }
    .lighthouse-audit {
        display: flex;
        flex-flow: wrap;
        gap: 1rem;
        img {
            flex: 1 1 358px;
        }
    }
    @include mixins.break(sm){
        p:first-of-type {
            font-size: 1rem;
        }
        .lighthouse-audit {
            padding: 0 2rem;
            img {
                min-width: 378px;
            }
        }
        .lighthouse-heading {
            line-height: unset;
        }
    }
    @include mixins.break(md){
        .lighthouse-audit {
            padding: 0 2rem;
            img {
                flex: 1 1 310px;
                min-width: 310px;
            }
        }
    }
    @include mixins.break(xlg){
        .lighthouse-audit {
            padding: 0 6rem;
        }
    }
    .opendesk-links {
        display: flex;
        flex-flow: wrap;
        text-align: center;
        margin: 0rem 1rem 2rem 1rem;
        .button-wrapper {
            width: 50%;
            display: flex;
            align-items: center;
            margin-top: 3rem;
        }
        .button-wrapper:nth-of-type(1),
        .button-wrapper:nth-of-type(3) {
            flex: 1 1 134px;
        }
        .button-wrapper:nth-of-type(2) {
            order: 1;
            width: 100%;
        }
        a {
            font-size: 1rem;
            margin: 0 auto;
        }
        a:nth-of-type(2) {
            gap: .5rem;
            margin: 2rem 0;
        }
        svg {
            width: 1rem;
            margin-left: 8px;
        }
        @include mixins.break(sm){
            margin: 4rem 2.75rem 4rem 2.75rem;
            .button-wrapper {
                width: calc(50% - 89.5px);
            }
            .button-wrapper:nth-of-type(2) {
                order: unset;
                width: 179px;
                margin: 0;
            }
        }
        @include mixins.break(md){
            margin: 4rem 6rem;
            a {
                font-size: 1.25rem;
            }
        }
        @include mixins.break(sm) {
            margin: 2rem 1rem;
            align-items: flex-end;
            .button-wrapper {
                margin-top: 1rem;
            }
        }
    }
}