$logo-green: #3d4c41; // hunter green
$logo-grey: #999999;
$logo-offwhite: #e6e6e6;

// $emerald-green: #446d27;
$emerald-green: #3f7c11;
$shamrock-green: #1d4e08;

$red: #e02828;

$offwhite: #c2c0c0;
$med-gray: #bebebe;
$button-gray: #c5c3c3;
$button-offwhite: #dad8d8;

$offblack: #050905;
// $offblack: #010501;

$base-font-family: 'Kreon', Arial, serif;
$heading-font-family: 'Battambang', cursive;