/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  width: auto;
  height: auto;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button,
input {
  padding: 0;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Kreon", serif;
}

.container {
  margin: auto;
  max-width: 1600px;
}

.heading-span {
  font-size: 3rem;
  display: block;
}

.cta {
  text-align: center;
  padding: 4rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
}

header .container {
  display: grid;
  grid-template-columns: 0.75rem 1fr 100px 1fr 0.75rem;
  grid-template-areas: ". siteNav logo socials .";
  padding: 2rem 0;
  align-items: center;
}
header .container nav {
  grid-area: siteNav;
}
header .container nav .main-nav {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
}
header .container a {
  grid-area: logo;
  justify-self: center;
}
header .container a svg {
  width: 100px;
}
header .container ul {
  grid-area: socials;
  display: flex;
  flex-flow: wrap;
  justify-content: flex-end;
}
header .container ul svg {
  width: 1rem;
}

.introduction {
  background: #999999;
  background: linear-gradient(8deg, #999999 0%, #3d4c41 75%);
  padding: 4rem 0.75rem;
}
.introduction h2 {
  font-size: 2rem;
}
.introduction h3 {
  font-size: 4rem;
  line-height: 3.75rem;
  padding: 2.25rem 0;
}
@media screen and (min-width: 600px) {
  .introduction {
    padding: 4rem 2rem;
  }
}

.projects {
  padding: 4rem 0.75rem;
}
@media screen and (min-width: 600px) {
  .projects {
    padding: 4rem 2rem;
  }
}

.form-section .cta {
  background: #999999;
  background: linear-gradient(8deg, #999999 0%, #3d4c41 75%);
}
.form-section form {
  padding: 0.75rem;
  font-size: 1.25rem;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 700px) 1fr;
  grid-template-rows: 100px 100px 370px 3.25rem;
  grid-template-areas: ". n ." ". e ." ". m ." ". b .";
}
.form-section form div label {
  display: block;
  width: 100%;
  font-size: 1.5rem;
  padding-bottom: 0.625rem;
}
.form-section form div input {
  display: block;
  width: 100%;
  line-height: 2.375rem;
  padding: 0 0.5rem;
}
.form-section form div textarea {
  resize: none;
  width: 100%;
  height: 300px;
  padding: 0.5rem;
}
.form-section form div:nth-of-type(1) {
  grid-area: n;
}
.form-section form div:nth-of-type(2) {
  grid-area: e;
}
.form-section form div:nth-of-type(3) {
  grid-area: m;
}
.form-section form button {
  grid-area: b;
  max-width: 17.5rem;
}

.extra-contact {
  text-align: center;
}
.extra-contact .cta {
  background: #3d4c41;
  background: linear-gradient(8deg, #3d4c41 26%, #999999 75%);
}
.extra-contact .contact-content {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
.extra-contact .contact-content section:first-of-type {
  flex: 0 1 600px;
}
.extra-contact .contact-content section:last-of-type {
  flex: 0 1 600px;
}
/*# sourceMappingURL=styles.css.map */